.container {
    width: 94%;
}

.p {
    margin-top: 0;
    margin-bottom: 0;
}

form p {
    display: flex;
    align-items: center;
    text-align: center;
}

form label {
    margin-right: 10px;
    align-items: center;
}

form input {
    text-indent: 5px;
}

form textarea {
    text-indent: 5px;
}

form button {
    display: block;
    margin: 0 auto;
}

#listar {
    border: 2px solid;
    border-color: rgba(255, 138, 65);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

    #listar a {
        color: black;
        text-decoration: none;
    }

        #listar a:hover{
            color: #FF8A41;
        }

#detalle{
    border: 2px solid;
    border-color: rgba(255, 138, 65);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #ffead5; 
    color: black;
}
.buttons {
    text-align: center;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
}

.buttons li {
    display: inline-block;
    margin: 0 10px;
    margin-bottom: 2%;
}

.centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
