{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>
<div class="container">
  <h1> Citas agendadas: </h1>
  <ul style="list-style: none;">
    {% for cita in citas %}
    <li id="listar">
      <a href="{% url 'update_cita' cita.id_cita %}">
        <h3>Cita N°: {{ cita.id_cita }} , cliente: {{ cita.cliente }}</h3>
        <p>{{ cita.desc_cita }}</p>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% if cliente %}
  <ul class="buttons">
    <li>
      <a class="btn" href="/create/cita"><b>Añadir Cita</b></a>
    </li>
  </ul>
  {% endif %}

</div>

{% endblock %}