{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>
<div class="container">
    <h1> Añadir Cita </h1>
    <ul style="list-style: none;">
        <li style="margin-bottom: 10px; text-align: center;"> {{ Mensaje }} </li>
        {% if not Mensaje %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" type="submit">
                Enviar
            </button>
        </form>
        {% else %}
        <ul>
            <li class="centered-button">
                <a class="btn" href="/citas">
                    Volver
                </a>
            </li>
        </ul>
        {% endif %}
    </ul>

</div>

{% endblock %}