{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>
<div class="container">
    <ul style="list-style: none;">
        <li style="margin-bottom: 10px;text-align: center;"> {{ Mensaje }} </li>
        {% if not Mensaje %}
        <h1> Detalle Factura/Boleta </h1>
        <li id="detalle">
            <h3>{{ fabo.cita }}</h3>
            <ul style="list-style: none;">
                Servicios solicitados:
                {% for servicio in fabo.detalle_fb.all %}
                     {{ servicio.tipo_serv }}
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </ul>
            <p>Medio de pago: {{ fabo.medio }}</p>
            <p>Total a pagar: ${{ fabo.totalpagar }}</p>
        </li>
        {% if empleado %}
        <h1> Actualizar Factura/Boleta </h1>
        <form action="{% url 'update_fabo' fabo.num_fb %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <ul>
                <li class="centered-button">
                    <button class="btn" type="submit">
                        Actualizar
                    </button>
                </li>                
            </ul>
        </form>

        <form action="{% url 'delete_fabo' fabo.num_fb %}" method="POST">
            {% csrf_token %}
            <ul>
                <li class="centered-button" style="margin-top: 2%;">
                    <button class="btn" type="submit">
                        Eliminar
                    </button>
                </li>                
            </ul>
        </form>
        {% endif %}
        <ul>
            <li class="centered-button" style="margin-top: 2%;">
                <a class="btn" href="/fabo">
                    Volver
                </a>
            </li>
        </ul>
            
        {% else %}
        <ul>
            <li class="centered-button">
                <a class="btn" href="/fabo">
                    Volver
                </a>
            </li>
        </ul>
        {% endif %}
    </ul>

</div>

{% endblock %}