{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>
<div class="container">
    <ul style="list-style: none;">
        <li style="margin-bottom: 10px;text-align: center;"> {{ Mensaje }} </li>
        {% if not Mensaje %}
        <h1> Detalle Cita </h1>
        <li id="detalle">
            <h3>Cita N°: {{ cita.id_cita }}</h3>
            <ul style="list-style: none;">
                Servicios solicitados:
                {% for servicio in cita.servicios.all %}
                     {{ servicio.tipo_serv }}
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </ul>
            <p style="margin-bottom: 0%;">Cliente: {{ cita.cliente }}</p>
            <p style="margin-bottom: 0%;">Empleado: {{ cita.empleado }}</p>
        </li>
        {% if cliente %}
        <h1> Actualizar Cita </h1>
        <form action="{% url 'update_cita' cita.id_cita %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <ul>
                <li class="centered-button">
                    <button class="btn" type="submit">
                        Actualizar
                    </button>
                </li>
            </ul>
        </form>
        {% endif %}

        <form action="{% url 'delete_cita' cita.id_cita %}" method="POST">
            {% csrf_token %}
            <ul>
                <li class="centered-button" style="margin-top: 2%;">
                    <button class="btn" type="submit">
                        Eliminar
                    </button>
                </li>
            </ul>
        </form>

        <ul>
            <li class="centered-button" style="margin-top: 2%;">
                <a class="btn" href="/citas">
                    Volver
                </a>
            </li>
        </ul>

        {% else %}
        <ul>
            <li class="centered-button">
                <a class="btn" href="/citas">
                    Volver
                </a>
            </li>
        </ul>
        {% endif %}
    </ul>

</div>

{% endblock %}