{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>
<div class="container">
  <h1> Factura/Boleta existentes: </h1>
  <ul style="list-style: none;">
    {% for fabo in fabos %}
    <li id="listar">
      <a href="{% url 'update_fabo' fabo.num_fb %}">
        <h3>Boleta N°: {{ fabo.num_fb }}, Cliente: {{ fabo.cita.cliente }}</h3>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% if empleado %}
  <ul class="buttons">
    <li>
      <a class="btn" href="/create/fabo"><b>Añadir Factura/Boleta</b></a>
    </li>
  </ul>
  {% endif %}

</div>

{% endblock %}