{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>
<div class="container">
  <h1> Pedidos realizados: </h1>
  <ul style="list-style: none;">
    {% for pedido in pedidos %}
    <li id="listar">
      <a href="{% url 'update_pedido' pedido.num_orden %}">
        <h3>Pedido N°: {{ pedido.num_orden }}, proveedor: {{ pedido.proveedor }}</h3>
      </a>
    </li>
    {% endfor %}
  </ul>
  <ul class="buttons">
    <li>
      <a class="btn" href="/create/pedido"><b>Añadir Pedido</b></a>
    </li>
  </ul>

</div>

{% endblock %}