{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>
<div class="container">
    <ul style="list-style: none;">
        <li style="margin-bottom: 10px;text-align: center;"> {{ Mensaje }} </li>
        {% if not Mensaje %}
        <h1> Perfil </h1>
        <li id="detalle">
            <h3> {{ empleado.pnom_emp }} {{ empleado.snom_emp }} {{ empleado.appaterno_emp }} {{ empleado.apmaterno_emp }}</h3>
            <p>Correo: {{ empleado.cargo }}</p>
            <p>Telefono: {{ empleado.salario }}</p>
        </li>
        <h1> Actualizar Pedido </h1>
        <form action="{% url 'update_emp' user.username %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <ul>
                <li class="centered-button">
                    <button class="btn" type="submit">
                        Actualizar
                    </button>
                </li>                
            </ul>
        </form>

        <ul>
            <li class="centered-button" style="margin-top: 2%;">
                <a class="btn" href="/pedidos">
                    Volver
                </a>
            </li>
        </ul>
            
        {% else %}
        <ul>
            <li class="centered-button">
                <a class="btn" href="/pedidos">
                    Volver
                </a>
            </li>
        </ul>
        {% endif %}
    </ul>

</div>

{% endblock %}