{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>
<div class="container">
    <ul style="list-style: none;">
        <h1> Perfil </h1>
        <li id="detalle">
            <h3> {{ empleado.pnom_emp }} {{ empleado.snom_emp }} {{ empleado.appaterno_emp }} {{ empleado.apmaterno_emp }}</h3>
            <p>Correo: {{ empleado.cargo }}</p>
            <p>Telefono: {{ empleado.salario }}</p>
        </li>
        <li style="margin-bottom: 10px;text-align: center;"> {{ Mensaje }} </li>
        {% if not Mensaje %}
        <li style="margin-bottom: 10px;text-align: center;"> {{ Mensaje }} </li>
        {% if not Mensaje %}
        <h1> Actualizar Perfil </h1>
        <form action="{% url 'update_cli' user.username %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <ul>
                <li class="centered-button">
                    <button class="btn" type="submit">
                        Actualizar
                    </button>
                </li>                
            </ul>
        </form>
        {% endif %} 
        {% endif %}
    </ul>
</div>
{% endblock %}