{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>
<div class="container">
  <h1> Producto disponibles: </h1>
  <ul style="list-style: none;">
    {% for producto in productos %}
    <li id="listar">
      <a href="{% url 'update_producto' producto.id_prod %}">
        <h3>{{ producto.desc_prod }}</h3>
      </a>
    </li>
    {% endfor %}
  </ul>
  <ul class="buttons">
    <li>
      <a class="btn" href="/create/producto"><b>Añadir Producto</b></a>
    </li>
  </ul>

</div>

{% endblock %}