{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>
<div class="container">
  <h1> Servicios disponibles: </h1>
  <ul style="list-style: none;">
    {% for servicio in servicios %}
    <li class="listar">
      <h3>{{ servicio.tipo_serv }}</h3>
      <p class="p">{{ servicio.desc_serv }}</p>
      <p class="p">Valor: ${{ servicio.costo_serv }}</p>
    </li>
    {% endfor %}
  </ul>
<ul class="buttons">
  <li>
    <a class="btn" href="#"><b>Añadir Servicio</b></a>
  </li>
  <li>
    <a class="btn" href="#"><b>Modificar Servicio</b></a>
  </li>
  <li>
    <a class="btn" href="#"><b>Eliminar Servicio</b></a>
  </li>
</ul>
  
</div>

{% endblock %}