{% extends 'hnf.html' %}
{% load static %}
{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/crud.css' %}" />
</head>
<div class="container">
  <h1> Vehiculos registrados: </h1>
  <ul style="list-style: none;">
    {% for vehiculo in vehiculos %}
    <li id="listar">
      <a href="{% url 'update_vehiculo' vehiculo.patente %}">
        <h3>Patente: {{ vehiculo.patente }}</h3>
        <h4>Dueño: {{ vehiculo.cliente }} </h4>
      </a>
    </li>
    {% endfor %}
  </ul>
  <ul class="buttons">
    <li>
      <a class="btn" href="/create/vehiculo"><b>Añadir Vehiculo</b></a>
    </li>
  </ul>

</div>

{% endblock %}